#overlay {
    width: auto;
    height: auto;
    margin-top: 25px;
    background-color: transparent;
    padding: 6px 10px;
    z-index: 5;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    border-radius: 5px;
    margin: 5px 0;
    transition: 0.4s;
}
  .change .bar1 {
    transform: rotate(-45deg) translate(-3px, 11px);
  }
  .change .bar2 {
    opacity: 0;
  }
  .change .bar3 {
    transform: rotate(45deg) translate(-3px, -11px);
  }
  
  .search-bar{
    position: absolute;
    right: 50px;
    top:10px;
  }
  .search-bar:focus{
    outline: none;
  }

.pec-menu{
    font-family: 'Times New Roman';
    font-size: 20px;
    /* border-top: 3px solid #2e8690; */
    border-bottom: 3px solid #2e8690;
}
.menu2{
    text-decoration: none;
    color: #000;
}
.active-m2{
    text-decoration:underline;
    color:#2e8690;
}

#menu-col-1{
    font-weight:700;
    border-right: 1px solid #707070;
    /* padding-left:70px; */
    font-family:'Segoe UI';
}
#menu-col-2{
    border-right: 1px solid #707070;
}

#menu-col-1 li:hover,#menu-col-2 li:hover,#menu-col-3 li:hover,#menu-col-4 li:hover{
    text-decoration:underline;
    color:#2e8690;
    cursor: pointer;
}

#menu-col-1,#menu-col-2,#menu-col-3,#menu-col-4{
    line-height:40px;
    padding-left:70px;

}

#menu2-cover{
  background-color:#fff;
  display:none;
  width:100%;
  height:310px;
  position: relative;
  z-index: 2;
}
#menu2-cover button{
  position:absolute;
  bottom:0;
  margin: 10px;
  border:none;
  background: #fff;
}
#menu2-cover button:focus{
  outline:none;
}
#chapter-font{
  font-size: 18px;
}

@media(max-width:996px){
    
    .pec-menu{
      font-size: 15px;
    }
    #chapter-font{
      font-size:13px;
    }
    #menu-col-3{
      display: none;
      position: absolute;
      width:50%;
      z-index: 3;
    }
    #menu-col-4{
      padding-left: 20px;
      display: none;
      left:50%;
      position: absolute;
      z-index: 3;
    }
}

@media(max-width:700px){
  .pec-menu{
    font-size: 12px;
  }
  #chapter-font{
    font-size:10px;
  }
}

@media(max-width:615px){
  #menu-col-3{
    line-height: 30px;
    padding-left:5vw;
  }
  #menu-col-4{
    line-height: 30px;
  }
}